.jds-icon {
    @include flex('row', 'center', 'center');

    svg {
       height: 2rem;
       width: 2rem;
       fill: $secondary;
    }

    &--accent-line svg {
        width: 3rem;
        path {
            fill: none;
            stroke-miterlimit: 10;
            stroke-width: 0.15rem;
        }
    }
}