.jds-icon {
    @include flex('row', 'center', 'center');
    min-height: 2rem;
    min-width: 2rem;
    fill: $secondary;
    color: $secondary;

    &--accent-line {
        width: 3rem;
        path {
            fill: none;
            stroke-miterlimit: 10;
            stroke-width: 0.15rem;
        }
    }
}