/*****************
*
* GENERAL SECTIONS
*
******************/

section {
    opacity: 0;
    transition: all 1s ease-in;

    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        min-width: 20rem;
        max-width: 30rem;
        height: 100%;

        // Section Title
        .section-title {
            &--primary {
                color: $primary;

                .jds-icon--accent-line svg {
                    path {
                        stroke: $primary;
                    }
                }
            }
            &--white {
                color: $primary-100;

                .jds-icon--accent-line svg {
                    path {
                        stroke: $primary-100;
                    }
                }
            }
        }
        // Section copy
        .section-copy {
            font-size: 1rem;
            line-height: 150%;
            color: $secondary;
            font-weight: 600;
        }
    }
    
    // Section Variants
    .section--peach {
        background-color: $primary;
        height: 100vh;
        width: 100%;
    }
    .section--confetti {
        background-color: #FFFF;
    }

    // Main Illustration
    .site-illustration {
        height: 20rem;
        width: 20rem;
        background-color: $primary;
        border-radius: 10px;
    }

    &.show {
        opacity: 1;
    }
}



/***************************
*
* SECTION :: LANDING
*
****************************/

.section-landing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    
    .section--peach {
        grid-area: 1 / 1 / 2 / 6;
        // transform: translateX(100%);
    }
    
    .section--confetti {
        grid-area: 1 / 6 / 2 / 13;
    }
    
    .section-content {
        .section-copy {
            p {
                font-size: 2rem;
                font-weight: 600;
                line-height: 150%;
            }
            .subtext {
                color: $primary;
                font-size: 1rem;
            }
        }
    }

    &.show {
        .section--peach {
            // transform: unset;
        }
    }
}

/***************************
*
* SECTION :: ABOUT
*
****************************/

.section-about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    
    .section--confetti {
        grid-area: 1 / 1 / 2 / 6;
    }
    
    .section--peach {
        grid-area: 1 / 6 / 2 / 13;
        // transform: translateX(100%);
    }

    &.show {
        .section--peach {
            // transform: unset;
        }
    }
}

/***************************
*
* SECTION :: WORK
*
****************************/

.section-work {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    .section--peach {
        grid-area: 1 / 1 / 2 / 6;
        // transform: translateX(100%);
    }
    
    .section--confetti {
        grid-area: 1 / 6 / 2 / 13;
    }
    .section-content {
        .quack-it-container {
            height: 40rem;
            width: 30rem;
            background-color: $primary;
            border-radius: 10px;
        }
    }

    &.show {
        .section--peach {
            // transform: unset;
        }
    }
}