html {
    font-family: $font-family;
    font-size: 1rem;
    scrollbar-width: none;

    body {
        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none;
        }
        
    }
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

button {
    background-color: transparent;
    border-color: transparent;
    line-height: 100%;
    cursor: pointer;
    border-style: unset;
}

a {
    cursor: pointer;
}

// Dotted BG
div#app {
    // Dimensions
    $dot-size: 2px;
    $dot-space: 23px;
    $dot-color: $peach;

    background:
		linear-gradient(90deg, $white ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($white ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}