:root {
    --page-background-mode: #{$black};
    --primary-color: #{$white};
    --secondary-color: #{$gray-200};

    --display-font-family: #{$display-text};
    --body-font-family: #{$body-text};
    --heading-font-size: 7rem;
    --sub-heading-font-size: 3rem;
    --body-font-size: 1.6rem;
}

html,
body {
    height: 100%;
}

html {
    font-family: var(--body-font-family);
    font-size: 62.95%;
    scrollbar-width: none;

    body {
        background-color: var(--page-background-mode);
        color: var(--primary-color);
        font-size: var(--body-font-size);

        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none;
        }

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
}

button {
    background-color: transparent;
    border-color: transparent;
    line-height: 100%;
    cursor: pointer;
    border-style: unset;
}

a {
    cursor: pointer;
}

div#app {
    height: 100%;
}

// Dotted BG
main {
    // Dimensions
    $dot-size: 2px;
    $dot-space: 23px;
    $dot-color: #4e4e4e;

    background:
        linear-gradient(90deg, $black (
            $dot-space - $dot-size),
        transparent 1%) center,
        linear-gradient($black (
            $dot-space - $dot-size),
        transparent 1%) center,
        $dot-color;
    background-size: $dot-space $dot-space;
}

.wrapper {
    margin: 0 auto;
    max-width: 95rem;
    border: none;

    @media screen and (min-width: 1119px) {
        border-right: 1px solid $white;
        border-left: 1px solid $white;
    }
}