:root {
    --page-background-mode: #{$gray-500};
    --primary-color: #{$white};
    --secondary-color: #{$gray-200};

    --display-font-family: #{$display-text};
    --body-font-family: #{$body-text};
    --heading-font-size: 7.2rem;
    --sub-heading-font-size: 3.2rem;
    --body-font-size: 1.6rem;
}

html,
body {
    height: 100%;
}

html {
    font-family: var(--body-font-family);
    font-size: 62.95%;
    // scrollbar-width: none;

    body {
        background-color: var(--page-background-mode);
        color: var(--primary-color);
        font-size: var(--body-font-size);

        // &::-webkit-scrollbar {
        //     display: none;
        //     -ms-overflow-style: none;
        // }

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-size: 100%;
}

button {
    background-color: transparent;
    border-color: transparent;
    line-height: 100%;
    cursor: pointer;
    border-style: unset;
}

a {
    cursor: pointer;
}

div#app {
    height: 100%;
}

// Dotted BG
// div#app {
//     // Dimensions
//     $dot-size: 2px;
//     $dot-space: 23px;
//     $dot-color: $peach;

//     background:
// 		linear-gradient(90deg, $white ($dot-space - $dot-size), transparent 1%) center,
// 		linear-gradient($white ($dot-space - $dot-size), transparent 1%) center,
// 		$dot-color;
// 	background-size: $dot-space $dot-space;
// }