.Contact {
    margin: 20px 0;
    padding: 30px;
    position: relative;
}

.CopyGroup {
    margin: 20px 0;
    padding: 0 20px;
}

.SocialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding: 0 20px;
}

.SocialIcon {
    height: 40px;
    width: 40px;
}

.SocialIcon svg {
    height: 100%;
    width: 100%;
    fill: #FFFF;
}

.Link {
    margin: 10px 0;
    padding: 0 20px;
}

.Link a {
    color: #F8C238;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
}

@media (min-width: 701px) {
    .Contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Contact .CopyGroup{
        grid-area: 1 / 2;
    }
    .Contact .SocialIcons {
        grid-area: 2 / 2;
    }
    
  }