.Footer {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.Footer .CopyRight {
    color: #FFFF;
    font-weight: 200;
}

.Footer .FooterMessage {
    color: #F8C238;
    font-weight: 400;
}