.ImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.ImageBG {
    background-color: #F8C238;
    position: absolute;
    z-index: -1;
}

.ImageBG.AboutImage {
    right: 95px;
    top: 18px;
}

.ImageBG.ContactImage {
    right: 165px;
    top: 18px;
}

@media (min-width: 701px) and (max-width: 1200px) {
    .ImageBG.AboutImage {
        right: -10px;
    }
    
    .ImageBG.ContactImage {
        right: 52px;
    }
}

@media (min-width: 1201px) {
    .ImageBG.AboutImage {
        right: 90px;
    }
    
    .ImageBG.ContactImage {
        right: 152px;
    }
}